@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;

.publish {
    display: flex;
    flex-direction: column;
    width: 24rem;
    justify-content: center;
    margin: auto;
    @include tablet {
        flex-direction: row-reverse;
        align-items: end;
        margin-right: .5rem;
    }
    @include desktop {
        position: absolute;
        width: 81.5vw;
        margin-top: 24rem;
        margin-left: 9rem;
        border-top: .15rem solid $color-mercury;
    }

&__button {
    width: 24rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: none;
    color: $color-white;
    background-color: $color-brainflix-blue;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    padding-right: 1.5rem;
    @include tablet {
        width: 10rem;
        margin-left: 5rem;
    }
    &-icon {
        position: relative;
        right: 8rem;
        top: .5rem;
        @include tablet {
            left: -1.5rem;
        }
        @include desktop {
            padding-left: 1rem;
        }
    }
    &:hover {
        background-color: $color-brainflix-darkblue;
        cursor: pointer;
    }
}
}
.cancel__button {
    border: none;
    background-color: white;
    color: $color-brainflix-blue;
    font-weight: 600;
    font-size: .95rem;
    margin-bottom: 2rem;
    text-decoration: none;
    @include tablet {
        padding-bottom: .9rem;
        margin-left: -.1rem;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        margin-left: 48rem;
    }
}