// Primary Colors
$color-brainflix-black: #323232;
$color-white: #ffffff;
$color-silver: #afafaf;
$color-brainflix-blue: #0095ff;
// Secondary Colors
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;