@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment {
    &__container {
        &-img {
            border-bottom: solid .15rem $color-mercury;
            margin-bottom: 1rem;
        }

        &-content {
            margin: 0;
        }

        &-content-header {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: right;
        }

        &-content-name {
            font-weight: bold;
            margin-left: 15vw;

            &::before {
                content: "";
                position: absolute;
                display: inline-flex;
                width: 3rem;
                height: 3rem;
                left: 1rem;
                background-color: $color-mercury;
                border-radius: 50%;
            }
        }

        &-content-timestamp {
            position: absolute;
            color: $color-silver;
            right: 1rem;
        }

        &-content-comment {
            margin-left: 15vw;
        }
    }

    @include tablet {
        &__container {
            &-content-name {
                margin-left: 10vw;
            }

            &-content-comment {
                margin-left: 10vw;
            }

            &-content-timestamp {
                right: 1rem;
            }
        }
    }

    @include desktop {
        max-width: 70vw;

        &__container {
            &-content-name {
                margin-left: 10vw;
            }

            &-content-timestamp {
                right: 28vw;
            }
        }
    }
}